:root {
  --warna-utama: #0a3ad3;
  --warna-teks: #FFFFFF;
  --warna-aksen:  #003366;
  --warna-aksen1: #FFA500;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', Sans-Serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('/Malam-minecraft.jpeg');
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.navbar {
  overflow-x: hidden;
  display: flex;
  background-color: transparent;
  border-bottom: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.6s ease;
  transition: border-bottom 0.6s ease;
  transition: opacity 0.6s ease;
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.navbar.color {
  background-color: var(--warna-utama);
  border-bottom: 2px solid var(--warna-aksen);
  opacity: 1;
  visibility: visible;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  float: left;
}

.navbar a {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--warna-teks);
  padding: 0.35rem;
  margin-right: 100px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: var(--warna-aksen);
}

header {
  height: 100vh;
}

.Home {
  margin-top: 200px;
  position: relative;
}

.Judul {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--warna-teks);
  text-align: center;
  position: sticky;
}

.Judul h1 {
  padding: 10px;
  text-shadow: 
        1px 1px 0 #999,   /* Lapisan bayangan 1: offset x, y, blur, warna */
        2px 2px 0 #888,   /* Lapisan bayangan 2 */
        3px 3px 0 #777,   /* Lapisan bayangan 3 */
        4px 4px 0 #666,   /* Lapisan bayangan 4 */
        5px 5px 0 #555,   /* Lapisan bayangan 5 */
        6px 6px 0 #444,   /* Lapisan bayangan 6 */
        7px 7px 0 #333,   /* Lapisan bayangan 7 */
        8px 8px 7px #302314; /* Lapisan bayangan terakhir untuk kedalaman/blur */
animation: autoShow 1s ease;
transition: opacity 0.5s ease;
transition: transform 0.5s ease;
}

.judul.remove {
  /* 0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    
  } */
  opacity: 0 !important;
    transform: translateY(-50px) scale(0.3);
    transition: opacity 1s linear;
transition: transform 1s linear;
}

.Judul p {
  animation: autoShow 1s ease;
  animation-delay: 200ms;
  transition: opacity 0.5s ease;
transition: transform 0.5s ease;
}

p.hilang {
  opacity: 0 !important;
    transform: translateY(-50px) scale(0.3);
}

@keyframes autoShow {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes autoShowSlidder {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.carol {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  gap: 20px;
  margin-top: 10rem;
  animation: autoShowSlidder 1s ease;
  animation-delay: 400ms;
  transition: opacity 0.5s ease;
transition: transform 0.5s ease;
}

.carol.active {
  opacity: 0 !important;
    transform: translateY(-200px);
    overflow-x: hidden;
}

.wrapper {
  display: flex;
  width: fit-content;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-50%);
}
}

.wrapper .gambar {
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  border-radius: 16px;
  flex-shrink: 0;
  padding: 1rem 2rem;
}

.About {
  font-size: 2rem;
  font-weight: bold;
 color: var(--warna-teks);
 background-color: rgba(0, 0, 0, 0.2);
    /* 4. Terapkan efek blur */
    backdrop-filter: blur(5px); /* Sesuaikan nilai blur sesuai keinginan */
    /* Pastikan overlay berada di bawah konten */
    margin-bottom: 300px;
    animation: autoShowSlidder both;
    animation-timeline: view(60% auto);
}

.About #About h1{
  padding: 50px;
  text-align: center;
  text-shadow: 
        1px 1px 0 #999,   /* Lapisan bayangan 1: offset x, y, blur, warna */
        2px 2px 0 #888,   /* Lapisan bayangan 2 */
        3px 3px 0 #777,   /* Lapisan bayangan 3 */
        4px 4px 0 #666,   /* Lapisan bayangan 4 */
        5px 5px 0 #555,   /* Lapisan bayangan 5 */
        6px 6px 0 #444,   /* Lapisan bayangan 6 */
        7px 7px 0 #333,   /* Lapisan bayangan 7 */
        8px 8px 7px #302314; /* Lapisan bayangan terakhir untuk kedalaman/blur */
        animation: autoShow both;
        animation-timeline: view(50% auto);
}

.About img {
  float: right;
}

.About .informasi {
  padding: 20px 7%;
  animation: fromRight 1s;
  animation-timeline: view(60% auto);
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#Info-server {
  color: var(--warna-teks);
  height: 750px;
  font-weight: bold;
}

#Info-server .is {
  font-weight: bold;
  padding: 10px;
  font-size: 3rem;
  text-align: center;
  text-shadow: 
        1px 1px 0 #999,   /* Lapisan bayangan 1: offset x, y, blur, warna */
        2px 2px 0 #888,   /* Lapisan bayangan 2 */
        3px 3px 0 #777,   /* Lapisan bayangan 3 */
        4px 4px 0 #666,   /* Lapisan bayangan 4 */
        5px 5px 0 #555,   /* Lapisan bayangan 5 */
        6px 6px 0 #444,   /* Lapisan bayangan 6 */
        7px 7px 0 #333,   /* Lapisan bayangan 7 */
        8px 8px 7px #302314; /* Lapisan bayangan terakhir untuk kedalaman/blur */
        animation: autoShow both;
        animation-timeline: view(40% auto);
}

#Info-server p {
  text-align: center;
  font-size: 2rem;
  animation: autoShow both;
  animation-timeline: view(30% auto);
}

#Info-server .container-info {
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
  padding: 20px 7%;
  animation: autoShow both;
  animation-timeline: view(30% auto);
}

#Saluran {
  margin-bottom: 150px;
}

#Saluran .join {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: autoShow both;
  animation-timeline: view(80% auto);
}

#Saluran .join a {
  text-decoration: none;
}

#Saluran .join button {
  padding: 10px 20px;
  background-color: var(--warna-aksen);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  max-width: 900px;
}

#Saluran h1 {
  color: var(--warna-teks);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-block: 10px;
  margin-bottom: 20px;
  text-shadow: 
        1px 1px 0 #999,   /* Lapisan bayangan 1: offset x, y, blur, warna */
        2px 2px 0 #888,   /* Lapisan bayangan 2 */
        3px 3px 0 #777,   /* Lapisan bayangan 3 */
        4px 4px 0 #666,   /* Lapisan bayangan 4 */
        5px 5px 0 #555,   /* Lapisan bayangan 5 */
        6px 6px 0 #444,   /* Lapisan bayangan 6 */
        7px 7px 0 #333,   /* Lapisan bayangan 7 */
        8px 8px 7px #302314; /* Lapisan bayangan terakhir untuk kedalaman/blur */
        animation: autoShow both;
        animation-timeline: view(60% auto);
}

footer {
  color: var(--warna-teks);
  background-color: var(--warna-aksen);
  font-size: 2rem;
  padding: 20px 7%;
  border-top: 3px solid var(--warna-utama);
  display: flex;
  justify-content: space-around;
  animation: autoShow both;
  animation-timeline: view(100% auto);
}

footer .one {
  list-style-type: none;
}

footer .two {
  list-style-type: none;
}

/* MEDIA QUARTER */

/* laptop */
@MEDIA (max-width: 980px) {
  html {
    font-size: 50%;
  }
  
    .navbar {
    height: 0;
    padding:15px 7%;
  }
  
  .navbar a {
    font-size: 1.6rem;
    margin: 13px;
  }
  
  .Home {
    margin-top: 60px;
  }
  
  .Home .Judul {
    font-size: 1.6rem;
  }
  
  #Home .logo img {
    width: 21px;
    height: 21px;
  }
  
  .wrapper {
    animation: spin 5s infinite linear;
  }
  
  @keyframes spin {
  0% {
  transform: translateX(0%);
}
100% {
  transform: translateX(-50%);
}
}

.wrapper .gambar {
  width: 300px;
}
  
  .About {
    margin-bottom: 150px;
  }
  
.main-container .informasi {
  font-size: 1.6rem;
  padding: 5px 7%;
}

#Info-server {
  height: 350px;
}

#Saluran .join a {
  margin-top: 20px;
}

#Saluran .join button {
  max-width: 250px;
  font-size: 1.5rem;
}

footer {
  font-size: 1rem;
  padding: 5px 7%;
}
}

/* Hp */
@MEDIA (max-width: 600px) {
  html {
    font-size: 40%;
  }
  
  .navbar {
    height: 0;
    padding:15px 7%;
  }
  
  .navbar a {
    font-size: 1.6rem;
    margin: 13px;
  }
  
  .Home {
    margin-top: 60px;
  }
  
  .Home .Judul {
    font-size: 1.6rem;
  }
  
  #Home .logo img {
    width: 21px;
    height: 21px;
  }
  
  .wrapper {
    animation: spin 5s infinite linear;
  }
  
  @keyframes spin {
  0% {
  transform: translateX(0%);
}
100% {
  transform: translateX(-50%);
}
}

.wrapper .gambar {
  width: 300px;
}
  
  .About {
    margin-bottom: 150px;
  }
  
.main-container .informasi {
  font-size: 1.6rem;
  padding: 5px 7%;
}

#Info-server {
  height: 350px;
}

#Saluran .join a {
  margin-top: 20px;
}

#Saluran .join button {
  max-width: 250px;
  font-size: 2rem;
}

footer {
  font-size: 1rem;
  padding: 5px 7%;
}
}
